
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

html, body{
    margin: 0;
    height: 100%;
}

body{
    background: url("https://www.verywellhealth.com/thmb/8cp_3dZRJay8AZ9X2lRmOLZ-C9k=/1500x1000/filters:fill(87E3EF,1)/What-are-the-three-levels-of-autism-260233-5b9f12fac9e77c0050171771.png");
}

.center_content{    
    padding: 20px 0 0;
    background: none;
}

.center_content > .ui-panel{
    max-width: 470px;
    
}